name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install E2E dependencies
      run: |
        cd e2e
        npm install

    - name: Start Services (Docker Compose)
      run: docker compose -f docker-compose.e2e.yml up --build -d

    - name: Wait for Backend
      run: |
        attempt_counter=0
        max_attempts=15
        until $(curl --output /dev/null --silent --head --fail http://127.0.0.1:3001/api/users); do
            if [ ${attempt_counter} -eq ${max_attempts} ];then
              echo "Max attempts reached"
              exit 1
            fi
            printf '.'
            attempt_counter=$(($attempt_counter+1))
            sleep 5
        done

    - name: Install Playwright Browsers
      run: cd e2e && npx playwright install --with-deps chromium

    - name: Run Playwright tests
      run: cd e2e && npx playwright test

    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: e2e/playwright-report/
        retention-days: 30